// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:100,500,900');

// Variables
$colors: #CF4232, #EB7F23, #FAC023, #068675, #6B202E;
$black: lighten(black, 15%);
$sidebarWidth: 300px;
$footerHeight: 45px;
$gridSize: calc((100vh - #{$footerHeight}) / 6);
$pagePadding: 1rem;

// mixins
@mixin randomColor {
  background: nth($colors, random(length($colors)));
}

$randomIncrement: 0;
@mixin randomFadingColors {
  @keyframes randomColors-#{$randomIncrement} {
    0% { @include randomColor; }
    50% { @include randomColor; }
    100% { @include randomColor; }
  }
  animation: randomColors-#{$randomIncrement} 5s infinite alternate;
  $randomIncrement: $randomIncrement + 1 !global;
}

@mixin desktop() {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 426px) {
    @content;
  }
}

@mixin fade-in-up($delay) {
  filter: opacity(0);
  animation: fade-in-up 1s $delay;
  animation-fill-mode: forwards;
}

// Animations
@keyframes fade-in-up {
  from {
    filter: opacity(0%);
    transform: translateY(5px);
  }
  to {
    filter: opacity(100%);
  }
}

// baseline styles

body {
  font-family: Roboto, sans-serif;
}

html, body, .content {
  width: 100%;
  border-top: 4px solid nth($colors, 3);

  @include tablet {
    border-top: none;
    height: 100%;
    overflow: hidden;
  }
}

*, *::before, *::after {
               box-sizing: border-box;
}

// General styles
a {
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid nth($colors, 4);
  &:link {
    color: nth($colors, 4);
  }
  &:link {
    color: darken(nth($colors, 4), 10%);
  }
  $boardSize: 10px;
  &:hover::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: $boardSize;
    top: -$boardSize/2 + 2px;
    bottom: -$boardSize/2 - 1px;
    left: -$boardSize/3;
    right: -$boardSize/3;
    background: rgba(0,50,100,0.05);
  }
}

// Content styles

.content {
  display: grid;

  padding: $pagePadding;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto) $footerHeight;
  grid-template-areas: "header header"
                       "section-1 section-1"
                       "section-2 section-2"
                       "contact-button icon-links"
                       "portfolio-title portfolio-title"
                       "portfolio portfolio"
                       "footer footer" ;

  @include tablet {
    padding: 0;
    $footerHeight: 45px;
    $gridSize: calc((100vh - #{$footerHeight}) / 6);
    grid-template-columns: repeat(5, 1fr) repeat(2, $gridSize);
    grid-template-rows: repeat(6, $gridSize) $footerHeight;
    grid-template-areas: ". . . . . portfolio portfolio"
                        ". header header header portfolio-title portfolio portfolio"
                        ". section-1 section-1 section-1 portfolio-title portfolio portfolio"
                        ". section-2 section-2 section-2 . portfolio portfolio"
                        ". contact-button contact-button . . portfolio portfolio"
                        ". icon-links icon-links icon-links . portfolio portfolio"
                        "footer footer footer footer footer footer footer";
  }

  @include desktop {
    $footerHeight: 45px;
    $gridSize: calc((100vh - #{$footerHeight}) / 6);
    grid-template-columns: repeat(8, 1fr) repeat(2, $gridSize);
    grid-template-rows: repeat(6, $gridSize) $footerHeight;
    grid-template-areas: ". . . . . . . . portfolio portfolio"
                         ". header header header . section-1 section-1 portfolio-title portfolio portfolio"
                         ". . . . . section-2 section-2 portfolio-title portfolio portfolio"
                         ". . . . . contact-button contact-button . portfolio portfolio"
                         ". . . . . . . . portfolio portfolio"
                         ". learn-more learn-more . . icon-links icon-links . portfolio portfolio"
                         "footer footer footer footer footer footer footer footer footer footer";

  }

  transition: transform 0.3s;

  &.slid {
    transform: translateX(-$sidebarWidth);
  }

  .footer {
    grid-area: footer;
    background: $black;
    margin: -$pagePadding;

    @include tablet {
      margin: 0;
    }
  }

  .contact-button {
    grid-area: contact-button;
    align-self: center;
    margin: 1rem 0;
    height: 3.2em;;
    width: 11em;
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    background: nth($colors, 4);
    cursor: pointer;
    @include fade-in-up(0.3s);
    user-select: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    $transitionTime: 0.1s;
    transition: transform $transitionTime;

    &:hover {
      transform: scale(1.02);
      background: lighten(nth($colors, 4), 8%);
    }

    &:active {
      transform: scale(0.98);
      background: darken(nth($colors, 4), 8%);
    }
  }

  .learn-more {
    grid-area: learn-more;
    font-weight: 500;
    transform: translateY(7px);
    display: none;

    @include desktop {
      display: block;
    }

    span {
      position: relative;
      cursor: pointer;

      i {
        transition: transform 0.3s;
        transform: translate(0, 1.5px);
      }

      &:hover i {
        transform: translate(5px, 1.5px);
      }
    }
  }

  .header {
    grid-area: header;
    width: 100%;
    height: 100%;
    font-weight: 100;
    line-height: 1em;
    align-items: end;
    font-size: 10vw;
    margin-top: 1.5em;
    margin-bottom: 1em;
    @include fade-in-up(0s);

    @include tablet {
      margin: auto;
      font-size: 6vw;
    }
    @include desktop {
      font-size: 5vw;
    }

    span {
      font-weight: 900;
      font-size: 14vw;

      @include tablet {
        font-size: 8vw;
      }
      @include desktop {
        font-size: 6vw;
      }
    }

    h4 {
      font-weight: 900;
      font-size: 3.5vw;
      margin: 0;
      line-height: 1em;

      @include tablet {
        font-size: 2vw;
      }
      @include desktop {
        font-size: 1vw;
      }
    }
  }

  .section-1 {
    grid-area: section-1;
    @include fade-in-up(0.1s);
  }

  .section-2 {
    grid-area: section-2;
    @include fade-in-up(0.2s);
  }

  .section {
    font-size: 4vw;
    font-weight: 100;
    margin: 1em 0;

    @include tablet {
      margin: auto;
      font-size: 2vw;
    }
    @include desktop {
      font-size: 1.05vw;
    }

    h3 {
      transform: translateX(-2px);
      margin: 0;
      font-weight: 500;
      font-size: 8vw;
      @include tablet {
        font-size: 3vw;
      }
    }
  }

  .icon-links {
    grid-area: icon-links;
    align-self: center;
    @include fade-in-up(0.5s);

    @include tablet {
      align-self: start;
    }

    i {
      font-size: 1.5rem;
      margin-right: 0.35em;
    }
  }

  .portfolio-title {
    grid-area: portfolio-title;
    margin: 0;
    position: relative;
    margin: 2em 0 1.5em 0;

    @include tablet {
      margin: 0;
    }

    span {
      font-size: calc(#{$gridSize} / 1.95);
      font-weight: 900;
      @include tablet {
        transform-origin: 0% 0% 0;
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        left: 100%;
      }
    }
  }

  .portfolio {
    grid-area: portfolio;
    height: calc(100vw / 2 * 6);
    margin: 0 -$pagePadding;

    @include tablet {
      height: auto;
      margin: 0;
    }
  }

  .tiles {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "tile-1 tile-2"
                         "tile-3 tile-4"
                         "tile-5 tile-6"
                         "tile-7 tile-8"
                         ". tile-9"
                         "tile-10 tile-11";

//   @for $i from 1 through 11 {
//     @keyframes portfolio-tile-#{$i} {
//       0% {
//         transform: translateX(calc(#{$gridSize} * 2));
//         opacity: 0;
//       }
//       100% {
//         transform: translateX(0);
//         opacity: 1;
//       }
//     }
//
//     .tile-#{$i} {
//       grid-area: tile-#{$i};
//       opacity: 0;
//       @include randomColor;
//       transform: translateX(calc(#{$gridSize} * 2));
//       animation: portfolio-tile-#{$i} 0.3s (0.05s * $i);
//       animation-fill-mode: forwards;
//       //@include randomFadingColors;
//     }
//   }

    @for $i from 1 through 11 {
      @keyframes portfolio-tile-#{$i} {
        0% {
          transform: translateX(calc(#{$gridSize} * 2));
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }

      .tile-#{$i} {
        grid-area: tile-#{$i};
        opacity: 0;
        transform: translateX(calc(#{$gridSize} * 2));
        animation: portfolio-tile-#{$i} 0.3s (0.05s * $i);
        animation-fill-mode: forwards;
      }
    }

    .yellow {
      background: nth($colors, 3);
    }

    .red {
      background: nth($colors, 1);
    }

    .blue {
      background: nth($colors, 4);
    }

    .hovered {
      filter: saturate(120%) brightness(80%);
    }

    .tile {
      transition: transform 0.1s, box-shadow 0.1s;
    }
  }
}
